/* Inserta tu codigo aqui */

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
*{
	font-family: "Open-Sans";
}
header{
	width: 100%;
	background:#120f15;
}
.fondo{
	background-image: url("../image/header-image.jpg");
	margin-bottom: 60px;
	background-size: 97%;
	background-repeat: no-repeat;
}
.negro{
	background-color:#120f15;
	color: orange;
	width: 70%;
	height: 20%;
	margin: 15%;
}
.amarillo{
	color: #ffc27b;
}
body{
	background-color: #2d2735;
}
.thumbnail{
	color: white;
	background-color: black;
	border-color: transparent;
	opacity: 0.9;

}
li{
	display: inline;
	color: white;

}
ul{
	list-style: none;
}
h1{
	font-family: "Courgette";
	font-size: 100%;
	text-align: center;
	text-anchor: 20%;	
}
.center{
	text-align: center;
}
p{
	color: white;
}
h3,h4{
	font-family: "Courgette";
	color: #ffc27b;
}
.video{
	width: 100%;
	height: 100%;
}
.footer{
	background-color: black;
	padding-bottom: 7%;
	text-anchor: 20%;
	text-align: center;
}
.dwn{
	margin-top: 2%;
}
.imch{
	width: 30%;
	height: 30%;
}